# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Hope-Island-Unity.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ruiqi\Documents\GitHub\Hope-Island-Unity\.idea\.idea.Hope-Island-Unity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
